*{
    background-color:rgb(231, 154, 154);
}
div{
    text-align: center;
}
.raj{
    size: 20px;
    color: antiquewhite;
    text-decoration: none;
}
/* this is signup btn  in Home.js style */
.btn-sg{
    height: 50px;
    width: 90px;
    border-radius: 5px;
    background-color: green;
    color:white;
}
img{
    border:1px solid black;
    border-radius: 2px;
    box-shadow: 10px 10px 10px;
}
/* this is signup.js style */

.sign{
    padding-left: 550px;
}
.form{
    height: 300px;
    width: 300px;
}